dsl/legacy/dify_old_dsl_3.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 测试
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: end
      id: 1760624741492-source-1760624804838-target
      source: '1760624741492'
      sourceHandle: source
      target: '1760624804838'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1760624730023-source-1763524074097-target
      source: '1760624730023'
      sourceHandle: source
      target: '1763524074097'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1763524074097-false-1763524090651-target
      source: '1763524074097'
      sourceHandle: 'false'
      target: '1763524090651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1763524074097-true-1760624741492-target
      source: '1763524074097'
      sourceHandle: 'true'
      target: '1760624741492'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          default: ''
          hint: ''
          label: myfile
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: file
          variable: myfile
      height: 88
      id: '1760624730023'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1760624730023'
        - myfile
      height: 92
      id: '1760624741492'
      position:
        x: 682
        y: 282
      positionAbsolute:
        x: 682
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1760624741492'
          - text
          value_type: string
          variable: output
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1760624804838'
      position:
        x: 984
        y: 282
      positionAbsolute:
        x: 984
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: 1f37a9a0-94bf-4e62-b22d-1409c37ca23d
            value: ''
            varType: file
            variable_selector:
            - '1760624730023'
            - myfile
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 124
      id: '1763524074097'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs: []
        selected: false
        title: 结束 2
        type: end
      height: 52
      id: '1763524090651'
      position:
        x: 556.2728426989719
        y: 563.7301998396684
      positionAbsolute:
        x: 556.2728426989719
        y: 563.7301998396684
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 324.47647854549865
      y: 131.97051141843863
      zoom: 0.4701353389563641
  rag_pipeline_variables: []
